<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myBatis.mappers.DepartmentMapper">
  <resultMap id="BaseResultMap" type="myBatis.entity.Department">
    <id column="deptid" jdbcType="INTEGER" property="deptid" />
    <result column="name" jdbcType="CHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    deptid, name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from department
    where deptid = #{deptid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from department
    where deptid = #{deptid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="myBatis.entity.Department">
    insert into department (deptid, name)
    values (#{deptid,jdbcType=INTEGER}, #{name,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="myBatis.entity.Department">
    insert into department
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deptid != null">
        deptid,
      </if>
      <if test="name != null">
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deptid != null">
        #{deptid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="myBatis.entity.Department">
    update department
    <set>
      <if test="name != null">
        name = #{name,jdbcType=CHAR},
      </if>
    </set>
    where deptid = #{deptid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="myBatis.entity.Department">
    update department
    set name = #{name,jdbcType=CHAR}
    where deptid = #{deptid,jdbcType=INTEGER}
  </update>
</mapper>