<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myBatis.mappers.WorkerMapper">
  <resultMap id="BaseResultMap" type="myBatis.entity.Worker">
    <!--
      WARNING - @mbg.generated
     该元素由MyBatis Generator自动生成，请勿修改。
    这个元素是在 Thu Oct 17 15:47:09 CST 2019.
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="CHAR" property="name" />
    <result column="pthone" jdbcType="INTEGER" property="pthone" />
    <result column="salary" jdbcType="INTEGER" property="salary" />
    <result column="absence" jdbcType="INTEGER" property="absence" />
    <result column="deptid" jdbcType="INTEGER" property="deptid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
     该元素由MyBatis Generator自动生成，请勿修改。
    这个元素是在 Thu Oct 17 15:47:09 CST 2019.
    -->
    id, name, pthone, salary, absence, deptid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
     该元素由MyBatis Generator自动生成，请勿修改。
    这个元素是在 Thu Oct 17 15:47:09 CST 2019.
    -->
    select 
    <include refid="Base_Column_List" />
    from worker
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
     该元素由MyBatis Generator自动生成，请勿修改。
    这个元素是在 Thu Oct 17 15:47:09 CST 2019.
    -->
    delete from worker
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="myBatis.entity.Worker">
    <!--
      WARNING - @mbg.generated
     该元素由MyBatis Generator自动生成，请勿修改。
    这个元素是在 Thu Oct 17 15:47:09 CST 2019.
    -->
    insert into worker (id, name, pthone, 
      salary, absence, deptid
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=CHAR}, #{pthone,jdbcType=INTEGER}, 
      #{salary,jdbcType=INTEGER}, #{absence,jdbcType=INTEGER}, #{deptid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="myBatis.entity.Worker">
    <!--
      WARNING - @mbg.generated
     该元素由MyBatis Generator自动生成，请勿修改。
    这个元素是在 Thu Oct 17 15:47:09 CST 2019.
    -->
    insert into worker
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="pthone != null">
        pthone,
      </if>
      <if test="salary != null">
        salary,
      </if>
      <if test="absence != null">
        absence,
      </if>
      <if test="deptid != null">
        deptid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=CHAR},
      </if>
      <if test="pthone != null">
        #{pthone,jdbcType=INTEGER},
      </if>
      <if test="salary != null">
        #{salary,jdbcType=INTEGER},
      </if>
      <if test="absence != null">
        #{absence,jdbcType=INTEGER},
      </if>
      <if test="deptid != null">
        #{deptid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="myBatis.entity.Worker">
    <!--
      WARNING - @mbg.generated
     该元素由MyBatis Generator自动生成，请勿修改。
    这个元素是在 Thu Oct 17 15:47:09 CST 2019.
    -->
    update worker
    <set>
      <if test="name != null">
        name = #{name,jdbcType=CHAR},
      </if>
      <if test="pthone != null">
        pthone = #{pthone,jdbcType=INTEGER},
      </if>
      <if test="salary != null">
        salary = #{salary,jdbcType=INTEGER},
      </if>
      <if test="absence != null">
        absence = #{absence,jdbcType=INTEGER},
      </if>
      <if test="deptid != null">
        deptid = #{deptid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="myBatis.entity.Worker">
    <!--
      WARNING - @mbg.generated
     该元素由MyBatis Generator自动生成，请勿修改。
    这个元素是在 Thu Oct 17 15:47:09 CST 2019.
    -->
    update worker
    set name = #{name,jdbcType=CHAR},
      pthone = #{pthone,jdbcType=INTEGER},
      salary = #{salary,jdbcType=INTEGER},
      absence = #{absence,jdbcType=INTEGER},
      deptid = #{deptid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="myBatis.entity.Worker">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="CHAR" property="name" />
    <result column="pthone" jdbcType="INTEGER" property="pthone" />
    <result column="salary" jdbcType="INTEGER" property="salary" />
    <result column="absence" jdbcType="INTEGER" property="absence" />
    <result column="deptid" jdbcType="INTEGER" property="deptid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, pthone, salary, absence, deptid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from worker
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from worker
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="myBatis.entity.Worker">
    insert into worker (id, name, pthone, 
      salary, absence, deptid
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=CHAR}, #{pthone,jdbcType=INTEGER}, 
      #{salary,jdbcType=INTEGER}, #{absence,jdbcType=INTEGER}, #{deptid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="myBatis.entity.Worker">
    insert into worker
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="pthone != null">
        pthone,
      </if>
      <if test="salary != null">
        salary,
      </if>
      <if test="absence != null">
        absence,
      </if>
      <if test="deptid != null">
        deptid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=CHAR},
      </if>
      <if test="pthone != null">
        #{pthone,jdbcType=INTEGER},
      </if>
      <if test="salary != null">
        #{salary,jdbcType=INTEGER},
      </if>
      <if test="absence != null">
        #{absence,jdbcType=INTEGER},
      </if>
      <if test="deptid != null">
        #{deptid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="myBatis.entity.Worker">
    update worker
    <set>
      <if test="name != null">
        name = #{name,jdbcType=CHAR},
      </if>
      <if test="pthone != null">
        pthone = #{pthone,jdbcType=INTEGER},
      </if>
      <if test="salary != null">
        salary = #{salary,jdbcType=INTEGER},
      </if>
      <if test="absence != null">
        absence = #{absence,jdbcType=INTEGER},
      </if>
      <if test="deptid != null">
        deptid = #{deptid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="myBatis.entity.Worker">
    update worker
    set name = #{name,jdbcType=CHAR},
      pthone = #{pthone,jdbcType=INTEGER},
      salary = #{salary,jdbcType=INTEGER},
      absence = #{absence,jdbcType=INTEGER},
      deptid = #{deptid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>